/* EXTENDS */

.container {
    background-color: $container;
    width: 100%;
    color: $words;
    display: flex;


    .social a {
        margin: 10px;
    }
}

.icons {
    a {
        text-decoration: none;
        color: $words;
    }

    a:hover {
        text-decoration: underline;
    }

    .social a:hover {
        text-decoration: none;
    }

    i:hover {
        -webkit-animation: tiembla 0.5s;
        -moz-animation: tiembla 0.5s;
        -o-animation: tiembla 0.5s;
        -ms-animation: tiembla 0.5s;
    }

    .social .fa-twitter-square:hover {
        color: rgba(84, 170, 228, 0.789);
    }

    .social .fa-linkedin:hover {
        color: rgba(0, 119, 181, 0.789);
    }

    .social .fa-github-square:hover {
        color: rgba(0, 0, 0, 0.789);
    }

    .social .fa-envelope:hover {
        color: rgba(255, 206, 71, 0.789);
    }

    .social .fa-instagram-square:hover {
        color: rgba(245, 51, 93, 0.789);
    }
}

.header__elements {
    margin-bottom: 10px;
    margin-top: 10px;
    align-items: center;
    display: flex;
}

.main {
    transition: all 1s;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;

    .social i {
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 10px;
    }
}

.sections{
    flex-wrap: wrap;
}