/* MIX */
@mixin margin($left, $right) {
    margin-left: $left;
    margin-right: $right;
}

@-webkit-keyframes tiembla {
    16.65% {
        -moz-transform: translateY(8px);
        transform: translateY(8px);
      }

      33.3% {
        -moz-transform: translateY(-6px);
        transform: translateY(-6px);
      }
      49.95% {
        -moz-transform: translateY(4px);
        transform: translateY(4px);
      }
      66.6% {
        -moz-transform: translateY(-2px);
        transform: translateY(-2px);
      }
      83.25% {
        -moz-transform: translateY(1px);
        transform: translateY(1px);
      }
      100% {
        -moz-transform: translateY(0);
        transform: translateY(0);
      }
}

@-moz-keyframes tiembla {
    16.65% {
        -moz-transform: translateY(8px);
        transform: translateY(8px);
      }

      33.3% {
        -moz-transform: translateY(-6px);
        transform: translateY(-6px);
      }
      49.95% {
        -moz-transform: translateY(4px);
        transform: translateY(4px);
      }
      66.6% {
        -moz-transform: translateY(-2px);
        transform: translateY(-2px);
      }
      83.25% {
        -moz-transform: translateY(1px);
        transform: translateY(1px);
      }
      100% {
        -moz-transform: translateY(0);
        transform: translateY(0);
      }
}

@-o-keyframes tiembla {
    16.65% {
        -o-transform: translateY(8px);
        transform: translateY(8px);
      }

      33.3% {
        -o-transform: translateY(-6px);
        transform: translateY(-6px);
      }
      49.95% {
        -o-transform: translateY(4px);
        transform: translateY(4px);
      }
      66.6% {
        -o-transform: translateY(-2px);
        transform: translateY(-2px);
      }
      83.25% {
        -o-transform: translateY(1px);
        transform: translateY(1px);
      }
      100% {
        -o-transform: translateY(0);
        transform: translateY(0);
      }
}
@-ms-keyframes tiembla {
    16.65% {
        -ms-transform: translateY(8px);
        transform: translateY(8px);
      }

      33.3% {
        -ms-transform: translateY(-6px);
        transform: translateY(-6px);
      }
      49.95% {
        -ms-transform: translateY(4px);
        transform: translateY(4px);
      }
      66.6% {
        -ms-transform: translateY(-2px);
        transform: translateY(-2px);
      }
      83.25% {
        -ms-transform: translateY(1px);
        transform: translateY(1px);
      }
      100% {
        -ms-transform: translateY(0);
        transform: translateY(0);
      }
}