@import "./imports.scss";
@import "./variables.scss";
@import "./utils.scss";
@import "./mix.scss";
@import "./extends.scss";

* {
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    transition: all 0.5s;
    color: $words;
    cursor: default;
}

body {
    background-color: $third;
}

a>i {
    cursor: pointer;
}

/* RESUME */
.resume {
    @extend .main;
    @extend .icons;
    background-color: $description;
    flex-wrap: wrap;
}

.resume__description {
    width: 60%;
    margin-left: 50px;
    text-align: center;
}

.resume__description--title h1,
h2 {
    font-size: 40px;
    margin-top: 5px;
    font-family: $title;
}

.resume__description--title h2 {
    margin-bottom: 15px;
}

.resume__description--paragraph {
    letter-spacing: 1.1;
    font-family: $text;
}

.resume__description--paragraph a {
    text-decoration: underline;
}

.resume__description--paragraph a,
em {
    font-weight: bold;
}

.resume__image img {
    border-radius: 90%;
    box-shadow: $box-shadow;
    width: 100%;
}

/* PROJECTS */
.images {
    @extend .main;
    flex-wrap: wrap;
}

.images__card {
    @extend .icons;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    background-color: $secondary;
    height: 400px;
    width: 350px;
    margin: $marginCard;
    display: flex;
    flex-direction: column;
    padding-bottom: $marginCard;
    box-shadow: $box-shadow;
}

/* IMAGE PROJECT AND DATA */
.images__card--title {
    margin: 15px;
    text-align: center;
    font-family: $title;
}


.images__card--project {
    background-color: white;
    display: flex;
    height: $heightCardText;
    justify-content: center;
    align-items: center;
    padding: $marginCard 0px;
}


.images__card--project:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.597);
    color: white;
}

.images__card--github {
    @include margin($marginCard, $marginCard);
    position: absolute;
}

.images__card--description {
    margin: $marginCard;
    text-align: center;
    font-family: $text;
}

.images__card--description a{
    cursor: pointer;
    text-decoration: underline;
}

/* FOOTER */
.footer {
    @extend .container;
    @extend .icons;
    justify-content: center;
    align-items: center;
    bottom: 0px;
    height: 50px;
}



/*  RESPONSIVE      */
@media only screen and (max-width: 1200px) {
    .header__title {
        font-size: 10px;
    }

    .images__card {
        height: 500px;
    }

    .resume__description {
        margin-left: 0px;
        margin-right: 0px;
        width: 100%;
    }
}