@import "./imports.scss";
@import "./variables.scss";
@import "./utils.scss";
@import "./mix.scss";
@import "./extends.scss";


/* RESUME */
.resume {
    @extend .main;
    @extend .icons;
    background-color: $description;
    flex-wrap: wrap;
    position: relative;
    transition: all 1s;
}

.resume__description {
    width: 60%;
    margin-left: 50px;
    text-align: center;
}

.resume__description--title h1,
.resume__description--title h2 {
    font-size: 40px;
    margin-top: 5px;
    font-family: $title;
}

.resume__description--title h2 {
    margin-bottom: 15px;
}

.resume__description--paragraph {
    letter-spacing: 1.1;
    font-family: $text;
}

.resume__description--paragraph a {
    text-decoration: underline;
}

.resume__description--paragraph a,
em {
    font-weight: bold;
}

.resume__image img {
    border-radius: 90%;
    box-shadow: $box-shadow;
    width: 100%;
    transition: all 1s;
}

/* SKILLS */
.skills {
    @extend .main;
    @extend .sections;
}

.bodyContainer {
    position: relative;
    @extend .main;
    @extend .sections;
}

/* PROJECTS */

.projects__card {
    @extend .icons;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    height: 400px;
    width: 350px;
    margin: $marginCard;
    display: flex;
    flex-direction: column;
    padding-bottom: $marginCard;
    box-shadow: $box-shadow;
}

/* IMAGE PROJECT AND DATA */
.projects__card--title {
    margin: 15px;
    text-align: center;
    font-family: $title;
}
.projects__card--title h3{
    color: $secondary;
}


.projects__card--project {
    background-color: white;
    display: flex;
    height: $heightCardText;
    justify-content: center;
    align-items: center;
    padding: $marginCard 0px;
}
.projects__card--project img{
    height: 200px;
    cursor: pointer;
}


.projects__card--project:hover {
    cursor: pointer;
    color: white;
}

.projects__card--github {
    @include margin($marginCard, $marginCard);
    position: absolute;
}
.projects__card--github i{
    color:black;
}
.projects__card--github i:hover{
    -webkit-animation: none;
    -moz-animation: none;
    -o-animation: none;
    -ms-animation: none;
}

.projects__card--description {
    margin: $marginCard;
    text-align: center;
    font-family: $text;
}
.projects__card--description p{
    color:black;
}

.projects__card--description a {
    cursor: pointer;
    text-decoration: underline;
    color:black;
}

/* FOOTER */
.footer {
    @extend .container;
    @extend .icons;
    justify-content: center;
    align-items: center;
    bottom: 0px;
    height: 50px;
}



/*  RESPONSIVE      */
@media only screen and (max-width: 1200px) {
    h1, h2 {
        font-size: 20px!important;
    }
    .subtitle h2 {
        padding: 5px;
        height: 25px;
    }
.projects{
    padding: 10px;
}
    .projects__card {
        height: 500px;
        margin: 10px;
    }

    .resume__description {
        margin-left: 0px;
        margin-right: 0px;
        width: 100%;
    }
}