* {
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    transition: all 0.5s;
    color: $words;
    cursor: default;
}

body {
    background-color: white;
}

a>i {
    cursor: pointer;
}

.subtitle {
    position: relative;
    background-color: #40708823;
    width: 100%;
    transition: all 1s;
}

.subtitle h2 {
    background-color: black;
    padding: 10px;
    width: 100%;
    text-align: center;
    height: 50px;
    font-family: $subtitle;
    font-size: 35px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.subtitle h2:hover {
    width: 99%;
    padding-right: 0px;
}
.subtitle h2:not(:hover) {
    width: 300px;
    padding-right: 10px;
}

.rotate{
    transform: rotate(-360deg);
}
.up-title{
    top:-1000px;
}
.down-title{
    top:0px
}

.down-body{
    bottom:-1000px;
}
.up-body{
    bottom:0px;
}