/* COLORS */
$primary: #70adb5;
$secondary: #407088;
$third:#132743;

$container: #111721;
$words: rgb(245, 240, 240);
$description: $primary;
$box-shadow: 4px -1px 5px 5px rgba(0, 0, 0, 0.2);

/* project'S CARDS */
$marginCard:20px;
$heightCardText:360px;
$widthCardText:310px;