$container: #111721;
$words: rgb(245, 240, 240);
$description: rgba(191, 191, 191, 0.35);
$box-shadow: 2px 5px 5px 1px rgba(0, 0, 0, 0.2);

/* project'S CARDS */
$marginCard:10px;
$heightCardText:360px;
$widthCardText:310px;