.aboutMe {
    background-color: $background;
    display: block;
    text-align: center;
}

.aboutMe--title h1 {
    font-size: 40px;
}

.aboutMe--description {
    display: flex;
    justify-content: center;
    margin: 20px 0px;
}

.aboutMe--description p {
    line-height: 200%;
    width: 50%;
}