.contact {
    background-color: $background;
    display: flex;
    flex-direction: row;
    text-align: center;
}


.contact__card {
    cursor: pointer;
    margin: 10px;
    flex-wrap: wrap;
    width:450px;
}

.contact__card--social {
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, .25);
}

.contact__card--social--link {
    cursor: pointer;
    display: flex;
    align-items: center;
    text-align: center;
}

.contact__card--social .fab {
    cursor: pointer;
    padding: 20px;
    margin: 10px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, .25);
}

.contact__card--social--link .fab:hover {
    opacity: 0.7;
}

#linkedin {
    background: $linkedinBackground;
}

.contact__card--social--link .fa-linkedin {
    background: $linkedin;
    color: white;
}

#github {
    background: $githubBackground;
}

#github span {
    color: white;
}

.contact__card--social--link .fa-github {
    background: $github;
    color: white;
}

#gmail {
    background: $gmailBackground;
}

.contact__card--social--link .fa-google {
    background: $gmail;
    color: white;
}

#twitter {
    background: $twitterBackground;
}

.contact__card--social--link .fa-twitter {
    background: $twitter;
    color: white;
}

#instagram {
    background: $instagram;
}

.contact__card--social--link .fa-instagram {
    background: $instagram;
    color: white;
}

.contact__card--social--link span {
    cursor: pointer;
    font-size: 20px;
}