/* PROJECTS */

.projects__card {
    @extend .icons;
    @extend .card;
    height: 400px;
    width: 350px;
}


/* IMAGE PROJECT AND DATA */

.projects__card--title {
    margin: 15px;
    text-align: center;
    font-family: $title;
}

.projects__card--title h3 {
    color: $secondary;
}

.projects__card--project {
    background-color: white;
    display: flex;
    height: $heightCardText;
    justify-content: center;
    align-items: center;
    padding: $marginCard 0px;
}

.projects__card--project:hover {
    cursor: pointer;
    color: $secondary;
}

.projects__card--project img {
    height: 200px;
    cursor: pointer;
}

.projects__card--github {
    @include margin($marginCard, $marginCard);
}

.projects__card--github i {
    color: black;
}

.projects__card--github i:hover {
    -webkit-animation: none;
    -moz-animation: none;
    -o-animation: none;
    -ms-animation: none;
}

.projects__card--description {
    margin: $marginCard;
    text-align: center;
    font-family: $text;
}

.projects__card--description a {
    cursor: pointer;
    text-decoration: underline;
    color: black;
}