@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500&display=swap');/* font-family: 'Lora', serif;*/
$title:'Lora', serif;
@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@1,300&display=swap');/* font-family: 'Epilogue', sans-serif;; */
$text:'Epilogue', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital@1&display=swap');
$subtitle: 'Merriweather', serif;