* {
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    transition: all 0.5s;
    color: $words;
    cursor: default;
    color: black;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: white;
}

a>i {
    cursor: pointer;
}

.bodyContainer {
    position: relative;
    @extend .main;
    @extend .sections;
}

.subtitle {
    position: relative;
    background-color: $background;
    width: 100%;
}

.subtitle h2 {
    background-color: $container;
    color: white;
    padding: 10px;
    width: 100%;
    text-align: center;
    height: 50px;
    font-family: $subtitle;
    font-size: 35px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.subtitle h2:hover {
    width: 99%;
    padding-right: 0px;
}

.subtitle h2:not(:hover) {
    width: 300px;
    padding-right: 10px;
}

.card {
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    margin: $marginCard;
    display: flex;
    flex-direction: column;
    padding-bottom: $marginCard;
    box-shadow: $box-shadow;
    background-color: white;
}

.rotate {
    transform: rotate(-360deg);
}

.up-title {
    top: -1000px;
}

.down-title {
    top: 0px
}

.down-body {
    bottom: -1000px;
}

.up-body {
    bottom: 0px;
}