/* COLORS */

$primary: #70adb5;
$secondary: #6E8CC2;
$third:#74ABCC;
$background: #40708823;
$container: #111721;
$words: rgb(245, 240, 240);
$description: $primary;
$box-shadow: 4px -1px 5px 5px rgba(0, 0, 0, 0.2);

/* project'S CARDS */

$marginCard:20px;
$heightCardText:360px;
$widthCardText:310px;

/*SOCIAL*/

$linkedin:#007bb5;
$linkedinBackground:#007cb58c;
$github:#1b1f23;
$githubBackground:#1b1f23ab;
$gmail:#dd4b39;
$gmailBackground:#dd4c39aa;
$twitter:#55ACEE;
$twitterBackground:#55acee8e;
$instagram:radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);